@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans";
    font-size: 14px;
    color: hsl(200, 15%, 8%);
    background-color: hsl(0, 0%, 98%);
}

header {
    width: 100%;
    height: fit-content;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

nav a {
    color: hsl(200, 15%, 8%);
}

.search-wrapper {
    max-width: 350px;
    width: 100%;
}

#search {
    border: none;
    outline: none;
}

#search::placeholder,
#search-icon {
    color: hsl(0, 2%, 65%);
}

#filter {
    border: none;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2);
    color: hsla(200, 15%, 8%, 0.828);
}

#filter:hover {
    cursor: pointer;
}

.card-wrapper {
    max-width: 300px;
    margin: 0 auto;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    overflow: hidden;
}

.card:hover {
    transform: scale(105%);
}

.country-flag {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-body p {
    margin-bottom: 0;
}

.dark-mode {
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
}

body.dark-mode .card, 
body.dark-mode header, 
body.dark-mode #search,
body.dark-mode #search-container, 
body.dark-mode #filter,
body.dark-mode #back-btn  {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%)
}

body.dark-mode #search::placeholder,
body.dark-mode #search-icon,
body.dark-mode #theme-icon,
body.dark-mode #theme-text {
    color: hsl(0, 0%, 100%);
}

body, .card, header, #filter, #search, #search-container {
    transition: ease;
} 

#back-btn {
    background-color: hsl(0, 0%, 100%);
}